@model IEnumerable<RankenConcernSystem.Models.Concerns>

@{
    ViewBag.Title = "Index";
}

<h2>Concerns Page..</h2>

<p style="font-size:20px; font-weight:bold">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="border-bottom: 1.1px solid chocolate; text-align:center">
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.DateOfMake)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.ConMakerName)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.GetRelationship)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.GetReportingMethod)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.ConMakerPhone)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.ConMakerEmail)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.ReasonConMade)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.NameConRecieved)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.ActionMade)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.NameOfActionMaker)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.ResultsOfCon)
        </th>
        <th style="font-size:15px; border-right: 2px solid chocolate; text-align:center; line-height:13px">
            @Html.DisplayNameFor(model => model.DateOfResult)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.DateOfMake)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.ConMakerName)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.GetRelationship)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.GetReportingMethod)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.ConMakerPhone)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.ConMakerEmail)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.ReasonConMade)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.NameConRecieved)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.ActionMade)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.NameOfActionMaker)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.ResultsOfCon)
        </td>
        <td style="font-size:10px; border-right: 2px solid chocolate; text-align:center">
            @Html.DisplayFor(modelItem => item.DateOfResult)
        </td>
        <td style="font-size:10px; color:chocolate">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
